h1 {
  font-family: "Fuzzy Bubbles", cursive;
}

h2 {
  font-family: "Fuzzy Bubbles", cursive;
}

h3 {
  font-family: "Fuzzy Bubbles", cursive;
}

h4 {
  font-family: "Fuzzy Bubbles", cursive;
}

h5 {
  font-family: "Fuzzy Bubbles", cursive;
}

h6 {
  font-family: "Fuzzy Bubbles", cursive;
}
